node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
yarn-error.log


# Android Studio
**/.idea/libraries
**/.idea/workspace.xml
**/.idea/gradle.xml
**/.idea/misc.xml
**/.idea/modules.xml
**/.idea/vcs.xml
/android/.idea/caches
*.iml
.gradle
/demo/android/app/build
/demo/android/build
/demo/android/captures
/demo/android/local.properties
/demo/android/tools/build
/demo/android/ReactAndroid/build
/demo/android/app/libs/ReactAndroid-temp
/demo/android/versioned-react-native/build
/demo/android/versioned-react-native/local.properties
/demo/android/versioned-react-native/ReactAndroid
ReactAndroid-temp.aar
*.apk


# Xcode
.DS_Store
/demo/ios/Pods
/demo/ios/fefet
/demo/ios/fefet/Supporting
/demo/ios/fefet.*
/demo/ios/fefet/Supporting/EXBuildConstants.json
/demo/ios/fefet/Supporting/EXBuildConstants.plist
/demo/ios/fefet/Supporting/EXBuildConstants.plist.bak
